@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(167, 132, 255);
  font-size: 3rem;
  padding: 4rem;
}

.main {
  border-top: 6px solid rgb(167, 132, 255);
  font-family: "Rubik", "Segoe UI", Tahoma, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  background: #222;
}

.film-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  max-height: 300px;
  max-width: 800px;
  overflow: hidden;
  margin: 0 1rem 3rem 1rem;
  background: #fff;
  color: #555;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 1px rgba(232, 255, 254, 0.9);
  -moz-box-shadow: 0px 0px 8px 1px rgba(232, 255, 254, 0.9);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(232, 255, 254, 0.9);
}

.film-card-header {
  background: rgb(167, 132, 255);
  background: radial-gradient(
    circle,
    rgba(167, 132, 255, 1) 0%,
    rgba(166, 223, 255, 1) 100%
  );
  min-height: 100%;
  min-width: 100%;
}

.film-card-header h3 {
  font-size: 1.6rem;
  padding: 1rem;
}

.film-card-header span {
  padding-left: 1rem;
}

.film-card-info {
  padding: 1rem;
}

.film-card-info span {
  color: #888;
}

.film-card-desc {
  padding-top: 1rem;
}

/* --------------------------Media Queries-------------------------------- */

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  .film-card {
    max-height: fit-content;
  }

  .film-card-header h3 {
    font-size: 1.4rem;
  }
}
